*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.pdb
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
.vs/BI_Generator/v15/Server/sqlite3/db.lock
.vs/BI_Generator/v15/Server/sqlite3/storage.ide
.vs/*
